@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
